<!-- partial view -->
<!-- <h1>aheyyy</h1> -->

<div class="form-group">
    <label for="title">
        Title
    </label>
    <input required value="<%= recipe.title %>" type="text" name="title" id="title" class="form-control">
</div>


<div class="form-group">
    <label for="ingredients">
        Ingredients
    </label>
    <textarea name="ingredients" id="ingredients" class="form-control" ><%= recipe.ingredients %></textarea>
    <!-- <input required type="text" name="title" id="title" class="form-control"> -->
</div>

<div class="form-group">
    <label for="recipea">
        Enter your recipe
    </label>
    <textarea required name="recipes" id="recipes" class="form-control" ><%= recipe.recipea %></textarea>
    <!-- <input required type="text" name="title" id="title" class="form-control"> -->
</div>
<a href="/" class="btn btn-secondary"> Cancel </a>
<button type="submit" class="btn btn-primary">Save</button>
